@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar customizado ===== */

::-webkit-scrollbar {
  height: 6px; /* altura da scrollbar horizontal */
  width: 6px; /* largura da vertical (se houver) */
}

::-webkit-scrollbar-track {
  background: #0f1729; /* fundo escuro combinando com o layout */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1f293b; /* cinza escuro elegante */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155; /* hover mais claro */
}
